*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#020204;
    color:#fff;
    font-family:'Cormorant Garamond', serif;
    overflow-x:hidden;
}


/* Stars background */

#stars{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
    background:
    radial-gradient(circle at 20% 30%, rgba(255,215,120,.15), transparent 25%),
    radial-gradient(circle at 80% 70%, rgba(255,215,120,.12), transparent 20%),
    #020204;
}


#stars::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-image:
    radial-gradient(#fff 1px, transparent 1px);
    background-size:80px 80px;
    animation:starsMove 20s linear infinite;
    opacity:.5;
}


@keyframes starsMove{

from{
    transform:translateY(0);
}

to{
    transform:translateY(-300px);
}

}



/* Sections */

section{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:30px;
}



/* Opening */

.hero h2{
    font-family:'Great Vibes', cursive;
    font-size:70px;
    color:#d4af37;
}


.hero p{
    font-size:28px;
    margin:20px;
}


.hero span{
    color:#d4af37;
    letter-spacing:3px;
}



/* Story */

.story h1{
    font-size:70px;
    color:#d4af37;
}


.story h3{
    letter-spacing:8px;
    margin:20px;
}


.story p{
    max-width:500px;
    font-size:25px;
    line-height:1.5;
}



/* Timeline */

.timeline{
    gap:40px;
}


.card{

    width:80%;
    max-width:500px;

    padding:40px;

    background:
    linear-gradient(
    145deg,
    rgba(255,255,255,.08),
    rgba(255,255,255,.02)
    );

    border:1px solid rgba(212,175,55,.4);

    border-radius:25px;

    backdrop-filter:blur(10px);

}


.card h2{
    color:#d4af37;
    margin-bottom:15px;
}



/* Final */

.final h1{

    font-size:60px;
    color:#d4af37;

}


.final h2{

    font-family:'Great Vibes',cursive;
    font-size:60px;
    margin-top:30px;

}



/* Mobile */

@media(max-width:600px){

.hero h2{
    font-size:55px;
}

.story h1{
    font-size:50px;
}

.final h1{
    font-size:45px;
}

}
